workflows/tools/argocd_list_apps.json
{
  "name": "argocd_list_apps",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "\nconst { execSync } = require('child_process');\n// No required input for listing apps\ntry {\n  const cmd = 'argocd app list -o json --server host.docker.internal:8080 --insecure';\n  const stdout = execSync(cmd, { encoding: 'utf8', timeout: 30000 });\n  // Optional: simplify the json output if it's too large, but LLM usually handles it\n  return [{ json: { stdout: stdout || '[]', stderr: '' } }];\n} catch(e) {\n  return [{ json: { stdout: e.stdout || '', stderr: e.stderr || e.message } }];\n}\n"
      },
      "id": "code-1",
      "name": "Argo CD List Apps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "result", "value": "={{ $json.stdout || $json.stderr }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Set Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Argo CD List Apps", "type": "main", "index": 0 }]] },
    "Argo CD List Apps": { "main": [[{ "node": "Set Output", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
