workflows/tools/argocd_app_status.json
{
  "name": "argocd_app_status",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "\nconst { execSync } = require('child_process');\nconst data = $input.item.json;\nconst val = (data.query && data.query.app_name) ? data.query.app_name : data.app_name;\nif (!val) { return [{ json: { stdout: '', stderr: 'No app_name provided. Got: ' + JSON.stringify(data) } }]; }\ntry {\n  const cmd = 'argocd app get ' + val + ' --output json --server host.docker.internal:8080 --insecure';\n  const stdout = execSync(cmd, { encoding: 'utf8', timeout: 30000 });\n  return [{ json: { stdout: stdout || 'Done.', stderr: '' } }];\n} catch(e) {\n  return [{ json: { stdout: e.stdout || '', stderr: e.stderr || e.message } }];\n}\n"
      },
      "id": "code-1",
      "name": "Argo CD App Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "result", "value": "={{ $json.stdout || $json.stderr }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Set Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Argo CD App Status", "type": "main", "index": 0 }]] },
    "Argo CD App Status": { "main": [[{ "node": "Set Output", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}